:root {
    --tiffany-blue: #6dd3c3;
    --tea-green: #c8e9a0;
    --atomic-orange: #f7a278;
    --magenta: #a13d63;
    --dark-purple: #351e29;
}

html {
    height: 100%;
}


/* Navbar */
.navbar {
    background-color: var(--dark-purple);
}

.navbar-brand,
.nav-link,
nav i {
    color: var(--tea-green);
}

.nav-link:hover,
.navbar-brand:hover {
    color: var(--atomic-orange);
}

.navbar-collapse {
    text-align: center;
}

/* Dropdown Menu */
.navbar-nav .dropdown-menu {
    background-color: var(--dark-purple);
    text-align: center;
    border: 2px solid var(--tea-green);
    width: fit-content;
    margin: auto;
}

.dropdown-item {
    color: var(--tea-green);
    margin: 0.25rem 0;
    transition: background-color 0.2s, color 0.2s;
}

.dropdown-item:hover {
    color: var(--atomic-orange);
    background-color: rgba(255, 255, 255, 0.1);
}

/* Logo and Icon */
.icon,
.logo-font {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Hero Image */
.hero-image {
    background-image: url(/media/hero-image-test.png);
    background-size: cover;
    height: calc(100vh - 100px);
}

/* Text Center */
.text-center {
    text-align: center;
}

/* Colored Section */
.colored {
    background-color: var(--tea-green);
    max-width: 100%;
}

/* Custom Toggler */
.custom-toggler.navbar-toggler {
    border-color: var(--tea-green)
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200, 233, 160, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Category Choices */
.category-link img {
    cursor: pointer;
}

.greyed-out {
    opacity: 0.5;
}

/* Shopping cart images */
/* Mobile view */
.cart-item-image-mobile {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  
  /* Desktop view */
  .cart-item-image-desktop {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  /* Custom breakpoint */
  @media (min-width: 992px) {
    .cart-item-image-desktop {
      max-width: 250px;
    }
  }