@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

:root {
    --ash-gray: rgb(189, 207, 181);
    --tea-green: rgb(192, 248, 209);
    --atomic-tangerine: rgb(247, 162, 120);
    --quinacridone-magenta: rgb(161, 61, 99);
    --dark-purple: rgb(53, 30, 41);
    --white-smoke: rgb(242, 244, 243);
}

* {
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background-color: rgba(247,162,120,0.3);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    flex-grow: 1;
}
.white-smoke {
    color: var(--white-smoke);
}

.number-font {
    font-family: 'Roboto Mono', monospace;
}

/* messages */
#messages {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9999; 
    pointer-events: none; 
    
}

#messages .alert {
    pointer-events: auto; 
    margin: 0;
    text-align: center;
}
.spinner-border {
    animation: spinner-border 9s linear infinite;
    margin-right: 0.5rem;
}

@keyframes spinner-border {
    to { transform: rotate(360deg); }
}

/* Navbar */
.dropdown-menu.dropdown-menu-right.show, .navbar {
    z-index: 999999999999;
}

.navbar, footer {
    background-color: var(--dark-purple);
}

.navbar-brand,
.nav-link,
nav i {
    color: var(--white-smoke);
}

.nav-link:hover,
.navbar-brand:hover {
    color: var(--atomic-tangerine);
}

.navbar-collapse {
    text-align: center;
}

/* Dropdown Menu */
.navbar-nav .dropdown-menu {
    background-color: var(--dark-purple);
    text-align: center;
    border: 2px solid var(--white-smoke);
    width: fit-content;
    margin: auto;
}
.navbar-nav .dropdown-menu:hover {
    border: 2px solid var(--atomic-tangerine);
}

.dropdown-item {
    color: var(--white-smoke);
    margin: 0.25rem 0;
}

.dropdown-item:hover {
    color: var(--atomic-tangerine);
    background: none;
}
/* buttons */
.btn-outline-success {
    color: var(--white-smoke);
    border-color: var(--white-smoke);
}

.btn-outline-success:hover {
    border-color: var(--atomic-tangerine);
    background-color: var(--dark-purple);
}


/* Logo and Icon */
.icon,
.logo-font {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* footer */
footer a {
    color: var(--white-smoke);
}

footer a:hover {
    color: var(--atomic-tangerine);
    text-decoration: none;
}

/* Text Center */
.text-center {
    text-align: center;
}

/* Margins top-and-bottom */
.margins {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/* Colored Section */
.colored {
    background-color: var(--dark-purple);
    max-width: 100%;
}

/* Custom Toggler */
.custom-toggler.navbar-toggler {
    border-color: var(--white-smoke)
}

.custom-toggler.navbar-toggler:hover {
    border-color: var(--atomic-tangerine)
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 245, 245, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 162, 120, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Category Choices */
.category-link img {
    cursor: pointer;
}

.greyed-out {
    opacity: 0.5;
}

/* AllAuth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #6c757d; 
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {    
    margin-bottom: 1%;
    background: var(--dark-purple);
    border: 3px solid var(--atomic-tangerine);
    color: var(--white-smoke);
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {    
    margin-bottom: 1%;
    background: var(--atomic-tangerine);
    color: var(--dark-purple);
    border: 3px solid var(--dark-purple);
}
.shop-now-btn, .show-more-btn {
    margin-bottom: 1%;
    border-radius: 40px;
    background: var(--dark-purple);
    border: 3px solid var(--atomic-tangerine);
    color: var(--white-smoke);
}

.shop-now-btn:hover, .show-more-btn:hover {
    color: var(--atomic-tangerine);
    background: var(--dark-purple);
    border-color: var(--atomic-tangerine);
}
.allauth-form-inner-content a {
    color: #17a2b8; 
}


/* Shopping cart images */
/* Mobile view */
.cart-item-image-mobile {
    width: 100%;
    max-width: 150px;
    height: auto;
}
  
/* Desktop view */
.cart-item-image-desktop {
    width: 100%;
    max-width: 200px;
    height: auto;
}
  
/* Custom breakpoint */
@media (min-width: 992px) {
    .cart-item-image-desktop {
    max-width: 250px;
    }
}


