{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Blog</h1>
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <a href="{% url 'post_create' %}" class="btn btn-primary">Create Post</a>
    {% endif %}
    {% for post in posts %}
    <div class="card mt-4">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ post.image.url }}" class="card-img" alt="{{ post.title }}" style="object-fit: cover; height: 100%;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.author }} | {{ post.created_at }}</h6>
                    <p class="card-text">{{ post.content|truncatechars:200 }}</p>
                    <a href="{% url 'post_detail' post.pk %}" class="card-link">Read More</a>
                    <p class="card-text">
                        <small class="text-muted">
                            <i class="fas fa-thumbs-up"></i> {{ post.likes_count }} 
                            <i class="fas fa-comments"></i> {{ post.comments_count }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}