{% load cart_tools %}

<tr>
    <td>
      {% if item.artwork.image %}
        <img src="{{ item.artwork.image.url }}" alt="{{ item.artwork.name }}" class="cart-item-image-desktop" />
      {% else %}
        <img src="/media/default_artwork_image.png" alt="{{ item.artwork.name }}" class="cart-item-image-desktop" />
      {% endif %}
      <div>{{ item.artwork.name }}</div>
    </td>
    <td>${{ item.artwork.price }}</td>
    <td>
      <form method="POST" action="{% url 'adjust_cart' item.artwork.id %}">
        {% csrf_token %}
        <!-- <input type="hidden" name="artwork_id" value="{{ item.artwork.id }}"> -->
        <button type="button" onclick="updateQuantity('{{ item.artwork.id }}', -1, 'desktop')">-</button>
        <input type="number" name="quantity" min="1" step="1" value="{{ item.quantity }}" id="quantity-desktop-{{ item.artwork.id }}">
        <button type="button" onclick="updateQuantity('{{ item.artwork.id }}', 1, 'desktop')">+</button>
        <button type="submit">Update</button>
      </form>
      <form method="POST" action="{% url 'remove_from_cart' item.artwork.id %}">
        {% csrf_token %}
        <!-- <input type="hidden" name="artwork_id" value="{{ item.artwork.id }}"> -->
        <button type="submit">Delete</button>
      </form>
    </td>
    <td>${{ item.artwork.price|multiply:item.quantity }}</td>
  </tr>