/* MailChimp */
#mc_embed_signup {
    clear: left;
    font: 14px;
    background: var(--white-smoke);
    border: 2px solid var(--atomic-tangerine);
    border-radius: 10px;
}

.mc-field-group {
    width: fit-content;
}

#mc_embed_signup {
    max-width: 100%;
}

/* Hero Image */
.hero-image {
    background-image: url(/media/hero-image.jpg);
    background-size: cover;
    height: calc(100vh - 100px);
    padding-top: 56.25%;
}

.text-background {
    background: rgba(245, 245, 245, 0.5);
    border-radius: 40px;
    width: fit-content;
    margin: auto;
    border: 2px solid var(--dark-purple);
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1.5%;
}

.shop-now-btn, .show-more-btn {
    margin-bottom: 1%;
    border-radius: 40px;
    background: var(--dark-purple);
    border: 3px solid var(--atomic-tangerine);
    color: var(--white-smoke);
}

.shop-now-btn:hover, .show-more-btn:hover {
    color: var(--atomic-tangerine);
    background: var(--dark-purple);
    border-color: var(--atomic-tangerine);
}

.artist-pic {
    max-height: 500px
}

.artist-feature-work {
    max-height: 500px;
    max-width: 500px;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 300;
    margin-top: 3rem;
    color: #4a4a4a;
}

p {
    font-size: 1.1rem;
    color: #4a4a4a;
    line-height: 1.6;
}

.artist-pic {
    max-height: 350px;
    object-fit: cover;
}

.artist-feature-work {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
    color: #4a4a4a;
}

a:hover {
    color: #747474;
    text-decoration: none;
}

.social-icons {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 1rem;
}

.max-image-measurements {
    max-height: 55vh !important;
}

.search-card-header {
    background-color: var(--ash-gray);
}

.serach-page-header {
    color: var(--dark-purple);
}

.result-text {
    color: var(--dark-purple)
}

.result-text:hover {
    color: var(--atomic-tangerine);
}

.card-color {
    background-color: var(--white-smoke)
}

.hover-border {
    border: 2px solid;
}

.hover-border:hover {
    border: 2px solid var(--atomic-tangerine);
}